<div class="dashboard-container text-center">
    <h2 class="text-center">Welcome {{userDetails?.name}}!</h2>
    <div class="text-center">Small Dummy Application to Implement Different Types of Route Guards </div>
    <div class="text-center">To check CanActivateChild Guards click on Users. For test.user@gmail.com Access for Details Child routes not given. Login with Test User and try to access Users child Route, it will prevent.</div>
    <button class="btn btn-primary mt-2" routerLink="/users">Users</button>
</div>
